* {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}
.main {
    margin: 0 auto;
    margin-top: 30px;
    width: 80vw;
    height: 80vh;
}

.cart-filter-bart {
    font-size: 40px;
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid black;
}
.show_commodity{
    margin: 0;
    /* width: 1079px; */
    width: 1000px;
    height: 1160px!important;
    border: 1px solid #bbbbbb;
    margin-left: 64px;
    background-color: #fff;
}
.show_commodity li{
    list-style: none;
    float: left;
    margin-top: 25px;
    background-color: #fff;
}
.commodity1{
    margin: 0;
    width: 268px;
    height: 340px;
    border: 1px solid #bbbbbb;
    margin-left: 43px;
    background-color: #fff;
}
.commodity2{
    margin: 0;
    width: 268px;
    height: 340px;
    border: 1px solid #bbbbbb;
    margin-left: 53px;
    background-color: #fff;
}
.commodity3 {
    margin: 0;
    width: 268px;
    height: 340px;
    border: 1px solid #bbbbbb;
    margin-left: 54px;
    background-color: #bbbbbb;
}
.commodity_pic{
    margin: 0;
    width: 240px;
    height: 211px;
    /* border: 1px solid #bbbbbb; */
    margin-left: 13px;
    margin-top: 9px;
    background-color: #fff;
}
.commodity_text{
    margin: 0;
    width: 240px;
    height: 100px;
    /* border: 1px solid #bbbbbb; */
    margin-left: 13px;
    margin-top: 9px;
    background-color: #fff;
}
.word_size{
    font-size: 18px;
    color: #6c6c6c;
}

/* 页尾 */
.foot{
    margin: 0;
    width: 100%;
    height: 200px;
    border: 1px solid #bbbbbb;
    background-color: #fff;
}
.foot li{
    list-style: none;
    float: left;
}
.foot_info1{
    margin: 0;
    width: 200px;
    height: 150px;
    border-right: 1px solid #bbbbbb;
    margin-left: 426px;
    margin-top: 10px;
}
.foot_info1 p{
    margin-top: 20px;
}

.foot_info2{
    margin: 0;
    width: 200px;
    height: 150px;
    border-right: 1px solid #bbbbbb;
    margin-left: 100px;
    margin-top: 10px;
}
.foot_info2 p{
    margin-top: 20px;
}
.foot_info3{
    margin: 0;
    width: 200px;
    height: 150px;
    border: 1px solid red;
    margin-left: 100px;
    margin-top: 10px;
}
.foot_font p{
    /* position:absolute;
    bottom:0; */
    /* height:100px;
    width:100%;
    overflow:hidden; */
    margin-top: 160px;
    margin-left: 0px!important;
    color: #bbbbbb;
}
.cart-table {
    margin-top: 10px;
    height: 75px;
    font-weight: bold;
}