
	*{
		margin: 0;
		padding: 0;
		text-decoration:none;
		list-style: none;
		}
	
	
	.header{
		
		width: 100%;
		height: 100px;
		line-height: 100px;
		background-color:#ffffff ;
		background-color: rgba(203, 207, 236, 1.0);
		box-shadow: 7px 7px 17px rgba(39, 51, 161, 0.5);
		/* position: fixed;
		top:0;
		left: 0; */
	}
	.wrap>h1{
		color: #3760a8;
		margin-left: 240px;
	}
	.wrap{
		width: 1200px;
		height: 100px;
	/* 	background-color: aqua; */
		margin: 0 auto;
		position: relative;
		}
	.logo{
		width: 220px;
		height: 100px;
		position: absolute;
		/* top: 0px; */
		margin-left: 0%;
	}
	
	
	.logo>img{
		width: 220px;
		height: 100px;
	}
	.container{
		clear: both;
	 /* margin: 0 auto;
	  width: 500px;
	  background-color: #fff6ef; */
	}
	.container>.login-wrap{
		margin-top: 0;
	}
	.login-wrap {
	    position: relative;
	    height: 475px;
	    margin: 10px 0 20px;
	    z-index: 5;
	}
	.w {
	    width: 1220px;
	    margin: 0 auto;
	}
	.login-form{
		position: fixed;
		/* background-size: 100% 100%; */
		margin-left: 780px;
		margin-top: 80px;
		width: 370px;
		height: 437px;
		background-color: rgba(203, 207, 236, 0.5);
		box-shadow: 7px 7px 17px rgba(34, 80, 161, 0.5);
		position: relative;
		/* border-top: 4px solid rgba(255, 255, 255, 0.7);
		border-bottom: 4px solid rgba(255, 255, 255, 0.7);
		border-left: 4px solid rgba(255, 255, 255, 0.7);
		border-right: 4px solid rgba(255, 255, 255, 0.7); */
		border-radius: 10px;
		position: relative;
		overflow: visible;
		   
	}
	.login-form a:hover{
		color: #ff6b86;
	}
	.login-form button:hover{
		color: #ff6b86;
	}
	.login-form>h1{
		color: #2250a1;
		text-align: center;
		margin-bottom: 15px;
		margin-top: 6px;
		
	}
	.login-wrap .login-banner{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 655px;
		background: #cbcfec;
	}
	.login-wrap .i-inner {
	    position: relative;
	    z-index: 3;
	    height: 580px;
		border-top: 2px solid rgba(203, 207, 236, 1.0);
		border-bottom: 2px solid rgba(203, 207, 236, 1.0);
		border-left: 2px solid rgba(255, 255, 255, 0.7);
		border-right: 2px solid rgba(255, 255, 255, 0.7);
		background-color: rgba(203, 207, 236, 0.5);
		box-shadow: 4px 6px 6px 6px rgba(34, 80, 161, 0.5);
		border-radius: 7px;
	}
	label{
		color: rgba(34, 80, 161, 1.0);
		font-weight: bold;
		font-size: 17px;
		margin-left: 50px;
		margin-bottom: 20px;
	}
	/* input{
		text-align: left;
		margin: 10px;
	} */
	.input{
		width: 70%;
		height: 35px;
		margin-top: 5px;
		margin-bottom: 15px;
		margin-left: 50px;
		background-color: rgba(185, 222, 231, 0.5);
		box-shadow: 7px 7px 17px rgba(47, 97, 158, 0.5);

		/* border-top: 2px solid rgba(255, 255, 255, 0.7);
		border-bottom: 2px solid rgba(255, 255, 255, 0.7);
		border-left: 2px solid rgba(255, 255, 255, 0.7);
		border-right: 2px solid rgba(255, 255, 255, 0.7); */
		border-radius: 7px;
	}
	.checkbox a{
		margin-left: 260px;
	/* 	margin-top: 5px; */
		color: rgba(55, 96, 168, 1.0);
		text-decoration:none;
		list-style: none
	}
	/* .yzm{
		padding: 3px;
	} */
	.code{
		width: 30%;
		height: 33px;
	/* 	margin-top: 3px; */
		margin-bottom: 5px;
		margin-left: 50px;
		background-color: rgba(185, 222, 231, 0.4);
		box-shadow: 7px 7px 17px rgba(47, 97, 158, 0.5);
		
		/* border-top: 2px solid rgba(255, 255, 255, 0.7);
		border-bottom: 2px solid rgba(255, 255, 255, 0.7);
		border-left: 2px solid rgba(255, 255, 255, 0.7);
		border-right: 2px solid rgba(255, 255, 255, 0.7); */
		border-radius: 5px;
	}
	.show{
		border-top: 2px solid rgba(255, 255, 255, 0.7);
		border-bottom: 2px solid rgba(255, 255, 255, 0.7);
		border-left: 2px solid rgba(255, 255, 255, 0.7);
		border-right: 2px solid rgba(255, 255, 255, 0.7);
		font-family: "黑体";
		font-size: 27px;
		color: brown;
		margin-left: 10px;
		font-style: initial;
		padding: 3px 3px;
		border-radius: 5px;
		display: inline-block;
	}
	.change-link{
		display: inline-block;
	}

	.submit{
		display: inline-block;
		position: absolute;
		margin-top: 20px;
		margin-left:139px;
		border: none;
		background-color: rgba(185, 222, 231, 0.4);
		box-shadow: 7px 7px 17px rgba(47, 97, 158, 0.5);
		
		height: 35px;
		width: 100px;
		border-top: 4px solid rgba(52, 56, 66, 0.5);
		border-bottom: 4px solid rgba(52, 56, 66, 0.5);
		border-left: 4px solid rgba(52, 56, 66, 0.5);
		border-right: 4px solid rgba(52, 56, 66, 0.5);
		text-align: center;
		font-weight: bold;
		border-radius: 5px;
		/* backdrop-filter: blur(2px); */
	}
	.left {
		margin-left: 33px;
		margin-top: 37px;
		color: rgba(44, 87, 164, 1.0);
		text-decoration:none;
		/*list-style: none;*/
		/*margin: 20px;*/
		position: absolute;
		font-weight: bold
	}
	
	.right {
		margin-left: 270px;
		margin-top: 35px;
		color: rgba(55, 96, 168, 1.0);
		text-decoration:none;
		/*list-style: none*/
		/*margin: 20px;*/
		position: absolute;
		font-weight: bold
	}
	.footer {
	    padding-bottom: 30px;
	    text-align: center;
		margin-top:28px;
		color: #9d9d9d;
	}
	
	/* .foot_font{
		margin-top: 20px;
		text-align: center;
		color: #bbbbbb;
	} */